@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --header-back-color: rgb(191, 191, 191);
  --header-text-color: black;
  --back-color: rgb(8, 25, 96);
  --text-color: #fff;
}

* {
  box-sizing: none;
  margin: 0 auto;
  font-family: 'DungGeunMo';
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--back-color);
  color: var(--text-color);
}

/* Header */
.game-title {
  text-align: center;
  padding: 20px;
  width: 100%;
  font-size: 28px;
  background-color: var(--header-back-color);
  color: var(--header-text-color);
}

/* Main */
.game-field {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 75%;
}

.field-user-score {
  display: flex;
  justify-content: space-around;
  margin-bottom: 12px;
  width: 100%;
  font-size: 20px;
}

.field-raining {
  position: relative;
  margin-bottom: 12px;
  width: 100%;
  height: 500px;
  border: 1px solid var(--header-back-color);
}


.field-raining > span {
  position: absolute;
  display: inline-block;
  padding: 0 5px 0 5px;
}

.rain {
  transform: translateY(485px);
  transition: transform 20s ease-in;
}

.field-typing-area {
  padding: 16px;
  width: 200px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  text-align: center;
}

.field-typing-area:focus {
  outline: none;
}

.field-typing-area:focus::placeholder{
  color: transparent;
}

.field-typing-area.error {
  color: red;
}

.field-typing-area:disabled::placeholder {
  color: transparent;
}

/* modal */
.game-start-modal, .game-over-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 32px;
  background-color: var(--header-back-color);
  color: var(--back-color);
}

.game-over-modal {
  visibility: hidden;
}

.game-start-btn , .game-replay-btn {
  padding: 10px 24px;
  font-size: 20px;
  background-color: var(--back-color);
  color: var(--text-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.game-start-btn:hover ,.game-replay-btn:hover {
  background-color: var(--text-color);
  color: var(--back-color);
}

.game-start-modal > h1 {
  margin-bottom: 12px;
}

.game-start-modal > p {
  margin-bottom: 2px;
  font-size: 16px;
}

.game-start-modal.start {
  visibility: hidden;
}

.game-over-modal > h1 {
  margin-bottom: 6px;
}

.game-over-modal > p {
  margin-bottom: 12px;
  font-size: 20px;
}

.game-over-modal.end {
  visibility: visible;
}